{% extends 'base.html' %}

{% load helper %}

{% block content %}

<form method="post" role="form">
    {% csrf_token %}
    {% for campo in form %}
        <div class="form-group {% if campo.errors %}has-error{% endif %}">
            <label class="control-label">
                {{ campo.label }}
            </label>
            {{ campo|addclass:"form-control" }}

            <p class="help-block">{{ campo.help_text }}</p>
            {% if campo.errors %}
                {% for error in campo.errors %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}

    <input type="submit" value="Enviar">
</form>

{% endblock %}