{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Eventos</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    {% if perms.core.add_evento %}

    <a href="{% url 'evento_add' %}" class="btn btn-success btn-large">Adicionar</a>
    <hr>
    {% endif %}



<table class="table table-striped table-bordered table-hover">
{% for evento in object_list %}
    <tr>
        <td>
            <a href="{% url 'evento_detail' evento.pk %}">{{ evento.titulo }}</a>
        </td>
        <td>
            {{ evento.local }}
        </td>
        <td>
          <a href="{% url 'evento_update' evento.pk %}">Editar</a>
        </td>
        <td>
            <a href="{% url 'evento_del' evento.pk %}">Deletar</a>
        </td>
    </tr>
{% endfor %}
</table>
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="paginate_button previous">
                    <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                </li>
            {% endif %}

            {% for page in page_obj.paginator.page_range %}
                {% ifequal page page_obj.number %}
                    <li class="paginate_button active"><a href="#">{{ page }}</a></li>
                {% else %}
                    <li class="paginate_button"><a href="?page={{ page }}">{{ page }}</a></li>
                {% endifequal %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="paginate_button next">
                <a href="?page={{ page_obj.next_page_number }}">Próxima</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}

{% endblock %}