
<h1>{{ object.titulo|capfirst }}</h1>
<p>Descrição: {{ object.descricao }}</p>
<ul>
    <li>Data início: {{ object.data_inicio|date:"d/m/Y" }}</li>
    <li>Data fim: {{ object.data_fim }}</li>
    <li>Site: {{ object.site }}</li>
    <li>Local: {{ object.local }}</li>
</ul>