{% extends 'base.html' %}

{% load helper %}

{% block content %}

<form method="post" role="form">
    {% csrf_token %}
    {% for campo in form %}
        <div class="form-group">
            <label>{{ campo.label }}</label>
            {{ campo|addclass:"form-control" }}
            <p class="help-block">{{ campo.help_text }}</p>
        </div>
    {% endfor %}

    <input type="submit" value="Enviar">
</form>

{% endblock %}